@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("/font/JetBrainsMono[wght].ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #0a0a0a;
  --text-color: #ffffff;
  --link-text-color: #ff96b4;
}

a:hover {
  --link-text-color: #eeb9da;
}

a.navlink {
  font-weight: 700;
}

a {
  @apply text-sm;
  color: var(--link-text-color);
  font-weight: 700;
}

h2 {
  @apply font-bold;
  color: #fffff0;
}

p {
  @apply text-sm;
}

body {
  font-family: "JetBrains Mono", monospace;
  height: 100%;
  min-height: 100vh;
  background-image: url("/images/AS17-152-23419_contast.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: normal;
  color: var(--text-color);
}

* {
  @apply appearance-none outline-none;
}
*:focus {
  @apply appearance-none outline-none;
}

.blog-link {
  @apply mt-2 font-bold;
}
